// * {
//   border: 1px red solid;
// }

.plan-container {
  border-radius: 8px;
  box-shadow: 10px 10px 40px -28px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.719);
  margin-top: 225px;
  height: 65vh;
  width: 90vw;
  overflow-y: scroll;
}

.plan-title {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.resident-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 40px -28px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.719);
}

.people-pets {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.floorPlan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 10px 10px 40px -28px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.719);
  width: 90%;
  margin: 30px auto;
}

.details-container {
  display: flex;
  justify-content: space-around;
}

.areaDetails-container {
  text-align: center;
  width: 40%;
  border-radius: 8px;
  box-shadow: 10px 10px 40px -28px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.719);
  height: 70%;
  padding: 0 15px;
}

.buildingDetails-container {
  text-align: center;
  width: 40%;
  border-radius: 8px;
  box-shadow: 10px 10px 40px -28px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.719);
  margin-bottom: 30px;
  padding: 0 15px;
}

.people {
  text-align: center;
}

.pets {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
