.checklist-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.checkbox {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.checklist-item-text {
  font-size: 1.6rem;
  font-family: sans-serif;
}