.checklist-screen {
  margin-top: 20vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.checklist-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}