main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.dots-wrapper {
  display: flex;
  align-items: center;
  height: 10vh;
  margin-bottom: 10vh;
}

.active-dot {
  height: 30px;
  margin: 10px;
}

.dot {
  height: 15px;
  margin: 10px;
}