.nav-container {
  background-size: 100%;
  display: flex;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  width: 100vw;
  position: absolute;
  top: 130px;
  z-index: 5;
  color: white;
  background: rgba(0, 0, 0, 0.65);
  border-top: solid black 3px;
}

.header_nav {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  a {
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    // font-family: 'Orbitron', sans-serif;

    &:hover {
      color: hsla(0, 0%, 100%, 0.9);
      background-color: hsla(0, 0, 0, 0.55);
      transition: background-color 0.3s;
    }

    &.active {
      color: hsla(0, 0%, 100%, 0.9);
      background-color: hsla(0, 0, 0, 0.55);
    }
  }
}
