.scan-form {
  align-items: center;
  background: rgba(255, 255, 255, 0.719);
  border-radius: 8px;
  box-shadow: 10px 10px 40px -28px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 55%;
}

.house-scan-label,
.scan-submit-button {
  align-items: center;
  border-radius: 4px; 
  box-sizing: border-box;
  display: flex;
  background-color: #2781BE;
  border: none;
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  height: 8vh;
  justify-content: center;
  margin: 30px;
  width: 90%;
}

.scan-upload-button {
  display: none;
}

.scan-submit-button:hover,
.house-scan-label:hover {
  background-color: white;
  border: #2781BE solid 2px;
  color: #2781BE;
}

.selected-file-container {
  align-items: center;
  border: black solid 2px;
  border-radius: 4px;
  display: flex;
  height: 8vh;
  margin: 0px;
  width: 89%;
}

.selected-file {
  font-size: 1em;
  margin: 0px 5px;
}

.scan-submit-button:disabled,
.scan-submit-button:disabled:hover {
  background-color: lightgrey;
  border: none;
  color: white;
}