.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  margin-top: 20px;
  width: 25vw;
  background-color: #2782be;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.login-input {
  height: 7vh;
  border-radius: 4px;
  width: 25vw;
  border: solid black 2px;
  margin: 10px;
  font-size: 18px;
}

.user-button {
  margin-top: 30px;
  width: 25vw;
  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.login-message {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}