.summary-branch {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 250px;
  width: 95%;
  padding: 10px;
  margin: 0;
  border: 1px solid green;
}

img {
  height: 100px;
  width: 100px;
  background-color: magenta;
}
