.summary-branch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 24vh;
  width: 95%;
  margin: 0;
}

.branch-icon {
  height: 64px;
}

.branch-description {
  font-size: 1.2rem;
  width: 58%;
  padding: 15px;
  font-weight: 500;
}

.branch-coverage {
  font-weight: 700;
  font-size: 2.5rem;
  color: #ff8a23;
  width: 9%;
}